@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: "bold";
  cursor: "pointer";
  outline: "none";
  width: "34px";
  height: "34px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
